---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/INVALID/range/1/day/2023-01-01/2023-12-31?apiKey=taIMgMrmnZ8SUZmdpq9_7ANRDxw3IPIx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"INVALID","queryCount":0,"resultsCount":0,"adjusted":true,"status":"OK","request_id":"6a58595d95bb2a8220beb38335ff7e01"}'
  recorded_at: Mon, 17 Jun 2024 03:05:57 GMT
recorded_with: VCR 6.2.0
